In [59]:
#this file looks at the time and separates them if the value is over 10,000 minutes away (1 week)

In [5]:
import pandas as pd

In [6]:
df1 = pd.read_csv(
     '../FormattedData/37.csv'
)

In [7]:
df1

,Unnamed: 0,new_date,BP1,BP2,Pulse,Temp,RR,O2Sat,Age_Number,Male,Female
0,0,0.0,126.0,93.0,115.0,36.2,18.0,98.0,46,1,0
1,1,30.0,-1.0,-1.0,111.0,-1.0,-1.0,100.0,46,1,0
2,2,269.0,127.0,98.0,85.0,-1.0,18.0,-1.0,46,1,0
3,3,1222.0,113.0,80.0,62.0,36.5,-1.0,-1.0,46,1,0
4,4,1695.0,102.0,64.0,69.0,-1.0,-1.0,-1.0,46,1,0
...,...,...,...,...,...,...,...,...,...,...,...
1080969,1080969,398544.0,115.0,40.0,67.0,-1.0,16.0,100.0,63,1,0
1080970,1080970,398621.0,122.0,59.0,72.0,-1.0,16.0,95.0,63,1,0
1080971,1080971,398711.0,120.0,78.0,77.0,36.7,16.0,95.0,63,1,0
1080972,1080972,398997.0,157.0,82.0,64.0,36.5,15.0,94.0,63,1,0
1080973,1080973,399290.0,147.0,82.0,63.0,36.6,16.0,96.0,63,1,0

In [8]:
del df1["Unnamed: 0"]

In [9]:
df1

,new_date,BP1,BP2,Pulse,Temp,RR,O2Sat,Age_Number,Male,Female
0,0.0,126.0,93.0,115.0,36.2,18.0,98.0,46,1,0
1,30.0,-1.0,-1.0,111.0,-1.0,-1.0,100.0,46,1,0
2,269.0,127.0,98.0,85.0,-1.0,18.0,-1.0,46,1,0
3,1222.0,113.0,80.0,62.0,36.5,-1.0,-1.0,46,1,0
4,1695.0,102.0,64.0,69.0,-1.0,-1.0,-1.0,46,1,0
...,...,...,...,...,...,...,...,...,...,...
1080969,398544.0,115.0,40.0,67.0,-1.0,16.0,100.0,63,1,0
1080970,398621.0,122.0,59.0,72.0,-1.0,16.0,95.0,63,1,0
1080971,398711.0,120.0,78.0,77.0,36.7,16.0,95.0,63,1,0
1080972,398997.0,157.0,82.0,64.0,36.5,15.0,94.0,63,1,0
1080973,399290.0,147.0,82.0,63.0,36.6,16.0,96.0,63,1,0

In [14]:
rows = len(df1)
rows

1080974

In [11]:
print (df1.iloc[0][1])

126.0

In [17]:
i=1
date_list = []
date_list.append(df1.iloc[0][0])
days = 3
time_threshold = days*1440
while i<rows-2:
    value1 = df1.iloc[i][0]
    value0 = df1.iloc[i-1][0] 

    if (value1-value0) > time_threshold:
        subtracted = df1.iloc[i][0]
        date_list.append(0.0)
        new_idx = i+1

        while new_idx<rows and df1.iloc[new_idx][0] != 0.0 and (df1.iloc[new_idx][0]-df1.iloc[new_idx-1][0])<time_threshold:
            changed_v = df1.iloc[new_idx][0]
            date_list.append(changed_v - subtracted)
            new_idx += 1
            i += 1
    else:
        date_list.append(value1)
    

    i+=1

In [18]:
date_list[0:50]

[0.0,
 30.0,
 269.0,
 1222.0,
 1695.0,
 3259.0,
 0.0,
 0.0,
 0.0,
 341.0,
 672.0,
 0.0,
 400.0,
 1099.0,
 1269.0,
 0.0,
 0.0,
 115.0,
 166.0,
 284.0,
 486.0,
 664.0,
 931.0,
 1045.0,
 1281.0,
 1536.0,
 1653.0,
 1898.0,
 2371.0,
 3140.0,
 3782.0,
 4522.0,
 5231.0,
 5641.0,
 5753.0,
 0.0,
 0.0,
 24.0,
 43.0,
 72.0,
 0.0,
 0.0,
 0.0,
 0.0,
 422.0,
 912.0,
 972.0,
 1215.0,
 1292.0,
 1663.0]

In [19]:
del df1["new_date"]
df1["new_date"] = date_list

In [22]:
df1 = df1[['new_date', 'BP1', 'BP2', 'Pulse', 'Temp', 'RR', 'O2Sat',
       'Age_Number', 'Male', 'Female']]

In [23]:
df1

,new_date,BP1,BP2,Pulse,Temp,RR,O2Sat,Age_Number,Male,Female
0,0.0,126.0,93.0,115.0,36.2,18.0,98.0,46,1,0
1,30.0,-1.0,-1.0,111.0,-1.0,-1.0,100.0,46,1,0
2,269.0,127.0,98.0,85.0,-1.0,18.0,-1.0,46,1,0
3,1222.0,113.0,80.0,62.0,36.5,-1.0,-1.0,46,1,0
4,1695.0,102.0,64.0,69.0,-1.0,-1.0,-1.0,46,1,0
...,...,...,...,...,...,...,...,...,...,...
1080969,855.0,115.0,40.0,67.0,-1.0,16.0,100.0,63,1,0
1080970,932.0,122.0,59.0,72.0,-1.0,16.0,95.0,63,1,0
1080971,1022.0,120.0,78.0,77.0,36.7,16.0,95.0,63,1,0
1080972,1308.0,157.0,82.0,64.0,36.5,15.0,94.0,63,1,0
1080973,1601.0,147.0,82.0,63.0,36.6,16.0,96.0,63,1,0

In [24]:
df1.head(50)

    new_date    BP1    BP2  Pulse  Temp    RR  O2Sat  Age_Number  Male  Female
0        0.0  126.0   93.0  115.0  36.2  18.0   98.0          46     1       0
1       30.0   -1.0   -1.0  111.0  -1.0  -1.0  100.0          46     1       0
2      269.0  127.0   98.0   85.0  -1.0  18.0   -1.0          46     1       0
3     1222.0  113.0   80.0   62.0  36.5  -1.0   -1.0          46     1       0
4     1695.0  102.0   64.0   69.0  -1.0  -1.0   -1.0          46     1       0
5     3259.0  121.0   65.0  104.0  36.5  -1.0  100.0          46     1       0
6        0.0  127.0   83.0  113.0  37.2  16.0   97.0          46     1       0
7        0.0  130.0   92.0   93.0  36.8  14.0  100.0          46     1       0
8        0.0  143.0   97.0  123.0  36.6  14.0  100.0          46     1       0
9      341.0  125.0   96.0   86.0  36.7  18.0   98.0          46     1       0
10     672.0   -1.0   -1.0   66.0  36.5  16.0  100.0          46     1       0
11       0.0  152.0   82.0   70.0  -1.0  18.0   98.0          46     1       0
12     400.0  106.0   70.0   78.0  -1.0  16.0   96.0          46     1       0
13    1099.0  115.0   73.0   60.0  36.4  16.0   99.0          46     1       0
14    1269.0  136.0   85.0   88.0  36.5  18.0   98.0          46     1       0
15       0.0  123.0   76.0   69.0  36.4  14.0   99.0          46     1       0
16       0.0  100.0   64.0  117.0  37.6  15.0   97.0          46     1       0
17     115.0   91.0   57.0   86.0  36.8  20.0   98.0          46     1       0
18     166.0   95.0   58.0   85.0  36.6  20.0   97.0          46     1       0
19     284.0   96.0   63.0   78.0  36.8  16.0   96.0          46     1       0
20     486.0   90.0   60.0   62.0  -1.0  16.0   97.0          46     1       0
21     664.0   99.0   60.0   56.0  -1.0  16.0   98.0          46     1       0
22     931.0   95.0   60.0   70.0  36.4  20.0   97.0          46     1       0
23    1045.0   90.0   71.0   66.0  36.8  16.0   97.0          46     1       0
24    1281.0  109.0   75.0   84.0  36.4  20.0   99.0          46     1       0
25    1536.0   99.0   63.0   73.0  36.2  22.0  100.0          46     1       0
26    1653.0  116.0   83.0   73.0  36.3  16.0  100.0          46     1       0
27    1898.0  109.0   70.0   72.0  36.3  16.0   98.0          46     1       0
28    2371.0   99.0   74.0   74.0  36.3  16.0   98.0          46     1       0
29    3140.0  133.0   88.0   87.0  36.3  16.0  100.0          46     1       0
30    3782.0  108.0   72.0   89.0  36.5  16.0   99.0          46     1       0
31    4522.0  133.0   93.0   76.0  36.5  16.0  100.0          46     1       0
32    5231.0  103.0   73.0   72.0  36.4  16.0  100.0          46     1       0
33    5641.0  187.0   83.0   73.0  36.5  16.0  100.0          46     1       0
34    5753.0  116.0   86.0  132.0  36.5  16.0  100.0          46     1       0
35       0.0  143.0  100.0   80.0  36.0  16.0   95.0          46     1       0
36       0.0  113.0   68.0   91.0  37.6  12.0  100.0          46     1       0
37      24.0  104.0   63.0   94.0  -1.0  10.0   92.0          46     1       0
38      43.0  107.0   74.0   98.0  -1.0  20.0   97.0          46     1       0
39      72.0  118.0   79.0   99.0  -1.0  18.0   99.0          46     1       0
40       0.0  198.0   88.0   70.0  36.8  18.0   99.0          81     0       1
41       0.0  163.0   84.0   86.0  38.1  18.0   97.0          81     0       1
42       0.0  125.0   79.0   96.0  37.4  13.0   96.0          81     0       1
43       0.0  180.0  120.0  170.0  36.1  18.0   98.0          81     0       1
44     422.0  192.0   74.0   70.0  36.7  16.0   97.0          81     0       1
45     912.0  132.0   73.0   84.0  -1.0  17.0   98.0          81     0       1
46     972.0  146.0   71.0   78.0  -1.0  16.0   94.0          81     0       1
47    1215.0  155.0   69.0   70.0  -1.0  14.0   95.0          81     0       1
48    1292.0  158.0   82.0   69.0  36.4  16.0   91.0          81     0       1
49    1663.0  167.0   86.0   67.0  36.5  14.0   95.0          81     0       1

In [25]:
df1.to_csv('38.csv')