In [45]:
#this file calaculatas how many and the % of missing values in the dataset

In [46]:
import pandas as pd
#import modin.pandas as pd

In [47]:
df1 = pd.read_csv(
     '../FormattedData/pre_ml_3.csv'
)

In [48]:
df1

,Unnamed: 0,new_date,BP1,BP2,Pulse,Temp,RR,O2Sat,Age_Number,Male,Female,Lactate_adjusted,WBC_adjusted
0,0,0,125,79,96,37.4,13,96,81,0,1,-1.0,-1.000000
1,1,23,-1,-1,-1,-1.0,-1,-1,81,0,1,-1.0,0.945455
2,2,450,138,76,98,36.8,16,98,81,0,1,-1.0,-1.000000
3,3,467,-1,-1,-1,-1.0,-1,-1,81,0,1,-1.0,1.090909
4,4,531,116,84,88,36.9,17,97,81,0,1,-1.0,-1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
307045,307045,4209,153,64,58,36.5,16,96,92,0,1,-1.0,-1.000000
307046,307046,4219,-1,-1,-1,-1.0,-1,-1,92,0,1,-1.0,0.800000
307047,307047,4947,152,65,63,36.6,18,94,92,0,1,-1.0,-1.000000
307048,307048,5661,174,70,69,36.7,16,92,92,0,1,-1.0,-1.000000
307049,307049,0,-1,-1,-1,-1.0,-1,-1,-1,0,0,-1.0,1.190909

In [49]:
del df1["Unnamed: 0"]

In [50]:
df1.head(30)

,new_date,BP1,BP2,Pulse,Temp,RR,O2Sat,Age_Number,Male,Female,Lactate_adjusted,WBC_adjusted
0,0,125,79,96,37.4,13,96,81,0,1,-1.000000,-1.000000
1,23,-1,-1,-1,-1.0,-1,-1,81,0,1,-1.000000,0.945455
2,450,138,76,98,36.8,16,98,81,0,1,-1.000000,-1.000000
3,467,-1,-1,-1,-1.0,-1,-1,81,0,1,-1.000000,1.090909
4,531,116,84,88,36.9,17,97,81,0,1,-1.000000,-1.000000
5,763,126,64,69,37.0,10,94,81,0,1,-1.000000,-1.000000
6,929,-1,-1,-1,-1.0,-1,-1,81,0,1,-1.000000,1.009091
7,0,166,90,58,36.7,18,99,66,0,1,-1.000000,-1.000000
8,166,-1,-1,-1,-1.0,-1,-1,66,0,1,-1.000000,0.554545
9,168,-1,-1,-1,-1.0,-1,-1,66,0,1,0.272727,-1.000000
10,6507,151,90,61,36.0,20,100,66,0,1,-1.000000,-1.000000
11,6525,-1,-1,-1,-1.0,-1,-1,66,0,1,-1.000000,0.590909
12,6530,-1,-1,-1,-1.0,-1,-1,66,0,1,0.500000,-1.000000
13,6966,-1,-1,-1,-1.0,-1,-1,66,0,1,-1.000000,0.600000
14,8663,-1,-1,-1,-1.0,-1,-1,66,0,1,-1.000000,0.936364
15,8949,149,92,71,37.1,16,96,66,0,1,-1.000000,-1.000000
16,9633,144,87,76,36.9,18,94,66,0,1,-1.000000,-1.000000
17,9943,138,78,79,36.6,18,94,66,0,1,-1.000000,-1.000000
18,10054,131,78,56,36.9,18,98,66,0,1,-1.000000,-1.000000
19,10584,128,75,62,36.9,18,98,66,0,1,-1.000000,-1.000000
20,10794,140,82,59,36.9,18,94,66,0,1,-1.000000,-1.000000
21,0,149,87,67,36.7,18,100,66,0,1,-1.000000,-1.000000
22,41,-1,-1,-1,-1.0,-1,-1,66,0,1,-1.000000,0.436364
23,338,147,91,63,-1.0,18,97,66,0,1,-1.000000,-1.000000
24,0,146,85,62,36.5,16,99,66,0,1,-1.000000,-1.000000
25,84,140,82,57,36.8,18,98,66,0,1,-1.000000,-1.000000
26,90,-1,-1,-1,-1.0,-1,-1,66,0,1,-1.000000,0.600000
27,220,137,81,58,36.8,17,97,66,0,1,-1.000000,-1.000000
28,284,131,81,65,-1.0,18,99,66,0,1,-1.000000,-1.000000
29,0,102,53,108,36.8,22,100,65,1,0,-1.000000,-1.000000

In [51]:
rows = len(df1)
rows

307050

In [52]:
df1.iloc[2][1] #row, column

138.0

In [53]:
new_date = []
bp1 = []
bp2 = []
hr = []
temp = []
rr = []
o2sat = []
age = []
lactate = []
wbc = []

In [54]:
i = 1


while i<rows:
    if df1.iloc[i][0] == -1:
        new_date.append(0)
    else:
        new_date.append(1)

    if df1.iloc[i][1] == -1:
        bp1.append(0)
    else:
        bp1.append(1)

    if df1.iloc[i][2] == -1:
        bp2.append(0)
    else:
        bp2.append(1)

    if df1.iloc[i][3] == -1:
        hr.append(0)
    else:
        hr.append(1)

    if df1.iloc[i][4] == -1:
        temp.append(0)
    else:
        temp.append(1)

    if df1.iloc[i][5] == -1:
        rr.append(0)
    else:
        rr.append(1)

    if df1.iloc[i][6] == -1:
        o2sat.append(0)
    else:
        o2sat.append(1)

    if df1.iloc[i][7] == -1:
        age.append(0)
    else:
        age.append(1)

    if df1.iloc[i][10] == -1:
        lactate.append(0)
    else:
        lactate.append(1)

    if df1.iloc[i][11] == -1:
        wbc.append(0)
    else:
        wbc.append(1)

    i+=1

In [55]:
def compute_missing(alist):
    size = len(alist)
    count = 0
    for i in alist:
        if i == 0:
            count+=1
    print(float(count)/float(size))

In [56]:
compute_missing(new_date)
compute_missing(bp1)
compute_missing(bp2)
compute_missing(hr)
compute_missing(temp)
compute_missing(rr)
compute_missing(o2sat)
compute_missing(age)
compute_missing(lactate)
compute_missing(wbc)
#is the average number of steps

0.0
0.5975072382583887
0.5973053160896143
0.27576705998065454
0.6300818436145371
0.2281329690049471
0.23647691410817165
0.0005829688421066344
0.9472266641480676
0.8977915576992598